<div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
	 <ul class="sidebar-menu do-nicescrol">
      <li class="sidebar-header">MAIN NAVIGATION</li>

      <li>
        <a href="{{ url_for('index') }}">
          <i class="icon-home"></i><span>Home</span><i class="fa"></i>
        </a>
      </li>

      <li>
        <a href="{{ url_for('departments') }}">
          <i class="icon-home"></i><span>Departments</span><i class="fa"></i>
        </a>
      </li>

      <li>
        <a href="{{ url_for('employees') }}">
        <i class="icon-handbag"></i><span>Employees</span>
		   <i class="fa"></i>
        </a>
      </li>
    </ul>

   </div>