
{% extends 'base.html' %}

{% block tittle %}
    Departments App
{% endblock %}

{% block body %}
<div class="row">

        <div class="col-8 col-lg-8 col-xl-8">
          <div class="card border-right">
            <div class="card-body">
              <h5 class="card-title">Employees</h5>
			  <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Date of birth</th>
                    <th scope="col">Salary</th>
                  </tr>
                </thead>
                <tbody class="linkRow">
                  <tr data-href="{{ url_for('employee', id = 1) }}">
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>random</td>
                    <td>15.02.1669</td>
                    <td>9999$</td>
                  </tr>
                  <tr data-href='employee.html'>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>qwerty</td>
                    <td>15.02.1669</td>
                    <td>9999$</td>
                  </tr>
                  <tr data-href='employee.html'>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>random</td>
                    <td>11.11.2011</td>
                    <td>99$</td>
                  </tr>
                </tbody>
              </table>
             </div>
            </div>
          </div>
        </div>
        <div class="card col-4 col-lg-4 col-xl-4">
			     <div class="card-body ">
				   <div class="card-title">Add new</div>
				   <hr>
				    <form method="post">
                        {{ form.hidden_tag() }}
					 <div class="form-group">
<!--					  <label for="input-1">Name</label>-->
<!--					  <input type="text" class="form-control" id="input-1" placeholder="Enter Name">-->
                        {{ form.name.label }}
                        {{ form.name(class="form-control", id="name", placeholder="Enter Name") }}
                        {% for error in form.name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
					 </div>
                        <div class="form-group" data-select2-id="7">
                      <label>Department</label>
                      <select class="form-control single-select select2-hidden-accessible" data-select2-id="1" tabindex="-1" aria-hidden="true">
                          <option data-select2-id="3">Dep_1</option>
                          <option data-select2-id="9">Dep_2</option>
                          <option data-select2-id="10">Dep_3</option>
                          <option data-select2-id="11">Dep_4</option>
                          <option data-select2-id="12">Dep_5</option>
                          <option data-select2-id="13">Dep_6</option>
                          <option data-select2-id="14">Dep_7</option>
                          <option data-select2-id="15">Dep_8</option>
                      </select>
                            <span class="select2 select2-container select2-container--default select2-container--below select2-container--focus" dir="ltr" data-select2-id="2" style="width: 629px;">
                                <span class="selection">
                                    <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-zlbv-container">
                                        <span class="select2-selection__rendered" id="select2-zlbv-container" role="textbox" aria-readonly="true" title="India">
                                            India
                                        </span>
                                        <span class="select2-selection__arrow" role="presentation">
                                            <b role="presentation"></b>
                                        </span>
                                    </span>
                                </span>
                                <span class="dropdown-wrapper" aria-hidden="true">

                                </span>
                            </span>
                    </div>
					 <div class="form-group">
<!--					  <label for="autoclose-datepicker">Date of birth</label>-->
<!--					  <input type="text" id="autoclose-datepicker" class="form-control" placeholder="01/01/2001">-->
                        {{ form.date_of_birth.label }}
                        {{ form.date_of_birth(class="form-control", id="autoclose-datepicker", placeholder="01/01/2001") }}
                        {% for error in form.name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
					 </div>
                     <div class="form-group">
					  <label for="input-4">Salary</label>
					  <input type="text" class="form-control" id="input-4" placeholder="Enter Salary">
					 </div>

					 <div class="form-group">
					  <button type="submit" class="btn btn-success shadow-success px-5"><i class="icon-user-follow"></i> New</button>
					</div>
					</form>
				 </div>
			   </div>
      </div><!--End Row-->
{% endblock %}
