{% extends 'base.html' %}

{% block tittle %}
    Departments App
{% endblock %}

{% block body %}
<div class="row">

        <div class="col-lg-10 mx-auto">
            <div class="card">
			     <div class="card-body">
				   <div class="card-title">Edit</div>
				   <hr>
				    <form>
					 <div class="form-group">
					  <label for="input-1">Name</label>
					  <input type="text" class="form-control" id="input-1" placeholder="Enter Name">
					 </div>
                      <div class="form-group" data-select2-id="7">
                      <label>Department</label>
                      <select class="form-control single-select select2-hidden-accessible" data-select2-id="1" tabindex="-1" aria-hidden="true">
                          <option data-select2-id="3">Dep_1</option>
                          <option data-select2-id="9">Dep_2</option>
                          <option data-select2-id="10">Dep_3</option>
                          <option data-select2-id="11">Dep_4</option>
                          <option data-select2-id="12">Dep_5</option>
                          <option data-select2-id="13">Dep_6</option>
                          <option data-select2-id="14">Dep_7</option>
                          <option data-select2-id="15">Dep_8</option>
                      </select><span class="select2 select2-container select2-container--default select2-container--below select2-container--focus" dir="ltr" data-select2-id="2" style="width: 629px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-zlbv-container"><span class="select2-selection__rendered" id="select2-zlbv-container" role="textbox" aria-readonly="true" title="India">India</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                    </div>
					 <div class="form-group">
					  <label for="autoclose-datepicker">Date of birth</label>
					  <input type="text" id="autoclose-datepicker" class="form-control" placeholder="01/01/2001">
					 </div>
                     <div class="form-group">
					  <label for="input-4">Salary</label>
					  <input type="text" class="form-control" id="input-4" placeholder="Enter Salary">
					 </div>
					 <div class="form-group">
					  <button type="submit" class="btn btn-success shadow-success px-5"><i class="ti-save"></i> Save</button>
                      <button type="submit" class="btn btn-danger shadow-danger px-5"><i class="icon-user-unfollow"></i> Delete</button>
					</div>
					</form>
				 </div>
			   </div>
        </div>

      </div><!--End Row-->
{% endblock %}
